<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div>
        <h1>Upload the file</h1>
        <p>supported formats: (.png, .jpg, .jpeg)</p>
        <ul>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file" value="Upload" class="btn btn-custom">
                <input type="submit" value="Submit" class="btn btn-custom">
            </form>
        </ul>
    </div>
    
</body>