
    <html>
        <head><title>HTML Pandas Dataframe with CSS</title></head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <body>
            <h1>Table from Image/Pdf</h1>
            <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Reference</td>
      <td>Designation</td>
      <td>Qty</td>
      <td>Unit</td>
      <td>price</td>
      <td>Total</td>
      <td>CHF</td>
      <td>Sales</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>SERVICE</td>
      <td>D</td>
      <td>COMPLETE</td>
      <td>OVERHAUL</td>
      <td>1</td>
      <td>5500.00</td>
      <td>5500.00</td>
      <td>220</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>SERVICE</td>
      <td>D</td>
      <td>REFRESHING</td>
      <td>COMPLETE</td>
      <td>CASE</td>
      <td>1</td>
      <td>380.00</td>
      <td>380.00</td>
      <td>220</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Exterior</td>
      <td>parts:</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>JO.297.065.FP</td>
      <td>FLAT</td>
      <td>GASKET</td>
      <td>1</td>
      <td>3.00</td>
      <td>3.00</td>
      <td>220</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>5</th>
      <td>JO.197.075.FP</td>
      <td>FLAT</td>
      <td>GASKET</td>
      <td>1</td>
      <td>4.00</td>
      <td>4.00</td>
      <td>220</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>6</th>
      <td>JO.199.059.0S</td>
      <td>FLAT</td>
      <td>ROUND</td>
      <td>GASKET</td>
      <td>1</td>
      <td>6.00</td>
      <td>6.00</td>
      <td>220</td>
      <td>None</td>
    </tr>
    <tr>
      <th>7</th>
      <td>V1I.261.036.BC</td>
      <td>W.G.FIXATION</td>
      <td>SCREWS</td>
      <td>10</td>
      <td>4.00</td>
      <td>40.00</td>
      <td>220</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Al.465.055.BC</td>
      <td>WHITE</td>
      <td>GOLD</td>
      <td>"FOIL"</td>
      <td>1</td>
      <td>70.00</td>
      <td>70.00</td>
      <td>220</td>
      <td>None</td>
    </tr>
    <tr>
      <th>9</th>
      <td>LENGTH:</td>
      <td>10/13.50MM</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>10</th>
      <td>SPECIAL</td>
      <td>DISCOUNT</td>
      <td>-3003.00</td>
      <td>-3003.00</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
            <form align="center" method="post">
                <input type="submit" name="csv" value="Download Csv" class="btn btn-download">
                <input type="submit" name="csv" value="Download Image" class="btn btn-download">
            </form>
        </body>
    </html>.
    